.searchPage {
  width: 100%;
  background-color: #fafafa;
  padding: 20px;
}

.searchPage > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin: 10px 0;
}

.searchPage__filter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: xx-small;
}

.searchPage__filter > h2 {
  margin-left: 7px;
}
